{{#if expandable}}
    <div {{bind-attr class="expanded:rotate-down:rotate :fa :fa-chevron-right"}} {{action 'toggleExpand'}}></div>
{{/if}}
{{#if loading}}
    <i class="fa fa-circle-o-notch fa-spin"></i>
{{/if}}
{{#link-to linkToRoute model.id}}{{label}}{{/link-to}}

{{#if showSublist}}
    <ul class="sublist">
      {{#if expanded}}
        {{#each child in children}}
          {{#async-expanding-tree model=child config=config}}
          {{/async-expanding-tree}}
        {{/each}}
        {{#if showLoadMore}}
            <button class="btn btn-info btn-sm" {{action 'loadMoreChildren'}}>load more</button>
        {{/if}}
      {{/if}}
    </ul>
{{/if}}
